<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header::common-header" />
<!-- NAVBAR
================================================== -->
<body>

	<div th:replace="common/header::navbar"></div>

	<div class="container">


		<div class="jumbotron">
			<div class="container text-center">
				<p>Uupps..... parece que ha habido un error</p>
				<br />
				<p>No se ha encontrado la vista</p>
				<br />

			</div>
			<br /> <br />
			<div class="container">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<td>key</td>
								<td>Value</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>TimeStamp</td>
								<td th:text="${timestamp}" />
							</tr>
							<tr>
								<td>Status</td>
								<td th:text="${status}" />
							</tr>
							<tr>
								<td>Error</td>
								<td th:text="${error}" />
							</tr>
							<tr>
								<td>Message</td>
								<td th:text="${message}" />
							</tr>

							<tr>
								<td>Path</td>
								<td th:text="${path}" />
							</tr>

						</tbody>


					</table>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Volver</button>
			</div>
		</div>
	</div>



</body>
</html>